body {
    height: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url(./back.png);
    background-repeat: repeat;
}

main {
    background-color: #4db7e0 !important;
    color: white !important;
}


html {
    height: 100%;
}

.abCenter {
    text-align: center;
    line-height: 2em;
}

.height30em {
    height: 30em;
    border-top: 1px solid white;
    padding: 2em 0;
}

.right {
    border-right: 1px solid white;
}

.footer {
    padding: 1em 0;
    background-color: white;
}

a:link:hover {
    text-decoration: none;
}

ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: grey;
    border-radius: 100%;
    outline: 0;
}

button {
    border-radius: 7px;
}

input {
    border-radius: 3px;
    padding-left: 20px;
    border: 1px solid rgb(38, 38, 92);
}

.image {
    width: 70px;
    height: 70px;
}

.under {
    text-decoration: underline;
    text-decoration-color: white;
}

/* Responsie CSS */

@media screen and (max-width: 800px) {
    
    .height30em {
        height: auto;
        max-width: 100%;
    }

    .image {
        width: 50px;
        height: 50px;
    }    

    .grow {
        flex-basis: initial !important;
    }
}

@media screen and (max-width: 290px) {

    .image {
        width: 40px;
        height: 40px;
    }    
}